.App {
  text-align: center;
}

.productDetails {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 25px;
}

.productDetails>img {
  width: 100%;
  border-radius: 25px;
  margin-bottom: 25px;
}

.productDetails>div {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  padding-left: 25px;
}

.productDetails h4 {
  margin: 0px;
  margin-right: 10px;
}

.productDetails p {
  margin: 0px;
  margin-left: 10px;
}